
.ellipse11 {
    position: absolute;
    width: 136px;
    height: 136px;
    left: 437px;
    top: -55px;
}
.ellipse12 {
    position: absolute;
    width: 324px;
    height: 34px;
    left: 738px;
    top: 87px;
}
.ellipse13 {
    position: absolute;
    width: 136px;
    height: 136px;
    right: 444px;
    top: -48px;
}
