.form_section {
  margin-top: 60px;
  margin-bottom: 60px;
}

.contactUsFormGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.contact_form_info {
  background: #fafafa;
  padding: 30px;
}

.contact_form {
  background-color: white;
  padding: 30px;
}

.form_group {
  margin-bottom: 20px;
}

.form_input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form_input:focus-visible {
  border: 1px solid #1caf83 !important;
}

.formTitle {
  font-family: "Teko";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #222429;
}

.form_label {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  display: block;
  color: #222429;
}
.form_btn {
  width: 100%;
  display: block;
  padding: 16px 10px;
  gap: 10px;
  background: #1caf83;
  border: 1px solid #1caf83;
  color: #ffffff;
  transition: 0.4s linear;
}

.form_btn:hover {
  border: 1px solid #1caf83;
  background: transparent;
  color: #1caf83;
}

.quickContact {
  font-family: "Teko";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #222429;
  background-color: white;
  padding: 8px 0px;
}

.phoneIcon {
  color: #1caf83;
  margin-right: 10px;
  font-size: 16px;
}

.phoneNumber {
  margin-bottom: 16px;
}

.phoneDiv {
  margin-top: 34px;
}

.phoneIcon > svg > path {
  display: block;
}

.addressDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
  grid-gap: 10px;
}

.addressContainer {
  padding: 10px;
  transition: 0.4s linear;
  border-radius: 10px;
}

.addressContainer h1 {
  font-family: "Teko";
  font-size: 24px;
  margin-bottom: 15px;
}

.addressContainer p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #222429;
}

.addressContainer:hover {
  background-color: #1caf83;
  border-radius: 10px;
}

.addressContainer:hover h1 {
  color: white;
}

.addressContainer:hover p {
  color: white;
}

@media only screen and (max-width: 576px) {
  .contactUsFormGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .form_section {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .addressDiv {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .addressContainer {
    padding: 20px;
    text-align: center;
  }
  .formTitle {
    font-size: 28px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .contactUsFormGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .form_section {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .addressDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    grid-gap: 10px;
  }
  .addressDiv:nth-child(3) {
    margin-left: 100px;
  }
}
