.yourQuestionAnswer {
  position: relative;
}

.green_abstract_left {
  background: #1caf83;
  opacity: 0.4;
  filter: blur(100px);
  position: absolute;
  left: 0;
  top: 20px !important;
  width: 182px;
  max-width: 100%;
  height: 133.35px;
  z-index: 1;
}

.green_abstract_right {
  background: #1caf83;
  opacity: 0.4;
  filter: blur(100px);
  position: absolute;
  right: 0;
  top: 400px !important;
  width: 182px;
  max-width: 100%;
  height: 133.35px;
  z-index: 1;
}

.title {
  font-family: "Teko";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 63px;
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 60px;
}

.accordion_header {
  font-family: "Teko";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #1a1a1a;
}

@media only screen and (max-width: 425px) {
  .title {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .accordion_header {
    font-size: 24px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .title {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .accordion_header {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1024px) {
  .green_abstract_right {
    opacity: 0.2;
  }

  .green_abstract_left {
    opacity: 0.2;
  }
}
